#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav, a,
#hero-msg, h1, #hero-msg, h4
.button-box,
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
  background-color: #92B6CCff;
}
header {
background-color: #FFCA07ff;
}
nav a:hover {
    background-color: #92B6CCff;
    color: darkslategrey;
    text-decoration: underline;
}
#background{
    background-color: #7C8765ff;
}
.msg {
   background-color: #92B6CC;
}
footer {
    background-color: #92B6CCff;
    text-decoration: underline;
}
h4, h1, footer {
    color: darkslategrey;
}
.icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}
nav a,
.book, .join{
    text-decoration: underline;
}
footer p {
    font-size: 1.2em;
}    
